@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
}
/* background */
.home_background{
    background-color: #292929;
}
.home_background_mobile{
    background-image: url("img/banner.jpg");
}
.mobile_menu{
    background-image: url("img/banner.jpg");
}
.skills_background{
    background-image: url(img/skills-bg.jpg);
}
/* logo */

#logo :hover .logo_name {
    animation: a 2.5s 1;
    transition: fill ease
}


.logo_name {
    fill: #ffd901;
    stroke: #ffd901;
    stroke-width: 3px;
    stroke-dasharray: 700px
}

@keyframes a {
    0% {
        stroke-dashoffset: 700;
        fill: transparent
    }

    50% {
        stroke-dashoffset: 0;
        fill: transparent
    }

    to {
        fill: #ffd901;
    }
}

.logo_mb {
    fill: #c1a400;
    stroke-dasharray: 80px
}

#logo :hover .logo_mb {
    animation: b 2.5s 1
}
@keyframes b {
    0% {
        fill: transparent
    }


    to {
        fill: #c1a400;
    }
}

.logo_mu_f {
    fill: #ffdd1c;
    stroke-dasharray: 80px
}

#logo :hover .logo_mu_f {
    animation: c 2.5s 1
}
@keyframes c {
    0% {
        fill: transparent
    }


    to {
        fill: #ffdd1c;
    }
}
.logo_face {
    fill: #ffe65a;
    stroke-dasharray: 80px
}

#logo :hover .logo_face {
    animation: d 2.5s 1
}
@keyframes d {
    0% {
        fill: transparent
    }


    to {
        fill: #ffe65a;
    }
}

.logo_r {
    fill: #9d9152;
    stroke-dasharray: 80px
}

#logo :hover .logo_r {
    animation: e 2.5s 1
}
@keyframes e {
    0% {
        fill: transparent
    }


    to {
        fill: #9d9152;
     } }


 /* navbar     */
 .nav_mobile_show{
    position: fixed;
    animation: gray-bg 0.3s;
    animation-fill-mode: forwards;
 }
 @keyframes gray-bg {
    0% {
        background-color: transparent
    }


    to {
        background-color: #2d2d2d
     } }



/* list decoration */
.projects_list a{
    text-decoration: none;
    color: white;
    border-bottom: none;
    transition-property: color ,border-bottom;
    transition-duration: 0.1s;
}

.projects_list a:hover{
    color: #ffc107;
    border-bottom: 2px solid #ffc107;
}
.zoom_hover_links a{
    transition-duration: 0.2s;
}
.zoom_hover_links a:hover{
    scale: 1.05;
    
}

/* bottom link list */
.list_bottom_links a{
    text-decoration: none;
    color: white;
    transition: all .2s ease-in;
}
.list_bottom_links a:nth-child(1):hover{
    color: #0077b5;
}
.list_bottom_links a:nth-child(2):hover{
    color: #7b7b7b;
}
.list_bottom_links a:nth-child(3):hover{
    color: #ffc107
}
.list_bottom_links a:nth-child(4):hover{
    color: #E1306C
}

/* Sections */

.slide_show{
    position: relative;
}
.text{
    position: absolute;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s 0.5s;
}
.text.show{
    opacity: 1;
    transform: translateY(0);
}
.nav{
    top: 0;
    left: 0;
    width: 100vw;
}
.nav-desktop{
    top: 0;
    left: 45%;
    width: 100vw;
}
.side_menu_button:hover{
    opacity: 0.9;
}


/* change page buttons */
.change_page{
    top: 45%;
    right: 2%;
}
.prev:hover{
    opacity: 0.5;
}
.next:hover{
    opacity: 0.5;
}

@media (max-width: 1000px) {
    .change_page {
        
      opacity: 0;
    }
  }



  
/* MOBILE */

 /* navbar     */
 .nav_mobile_show{
    position: fixed;
    animation: gray-bg 0.3s;
    animation-fill-mode: forwards;
 }
 @keyframes gray-bg {
    0% {
        background-color: transparent
    }


    to {
        background-color: #252525
     } }




